<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Todo</title>
    <link rel="stylesheet" href="../static/bootstrap.min.css">
    <link rel="stylesheet" href="../static/base.css">
</head>
<body>
    <div class="row">
        <div class="clearfix visible-xs-block"></div>
        <div class="col-md-12">
            <h2 class="text-center">Todo</h3>
        </div>
        {% block display %}{% endblock %}
    </div>
</body>
</html>